altair
google-cloud-bigquery
pandas
pandas-gbq

# needed by calendar_import.py
fire
dateutils
pyyaml
google-api-python-client
oauth2client
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
