altair
google-cloud-bigquery
pandas
pandas-gbq

# needed by calendar_import.py
fire
dateutils
pyyaml
google-api-python-client
oauth2client
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
